<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="nofollow" />

	<title>{{title}}</title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-combobox.css" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
	<link rel="stylesheet" href="//rawgit.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.css">
	<link rel="stylesheet" href="//birdage.github.io/Leaflet.awesome-markers/dist/leaflet.awesome.rotate.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css">

</head>
<body>

	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" rel="home" href="#" title="ReAct Home">
					<img style="max-width:30px; margin-top: -4px;" src="../static/img/logo.png">
				</a>
				<a class="navbar-brand" href="#">ReAct</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<!--<li class="dropdown">-->
						<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Examples <span class="caret"></span></a>-->
						<!--<ul class="dropdown-menu">-->
							<!--<li><a href="#">Matching Users</a></li>-->
							<!--<li><a href="#">Daily Averages</a></li>-->
						<!--</ul>-->
					<!--</li>-->
					<li><a href="/slides">Slides <span class="sr-only">(current)</span></a></li>
					<!--<li><a href="#">About <span class="sr-only">(current)</span></a></li>-->
				</ul>
			</div>
		</div>
	</div>

		<div class="container">
			<div class="row">

				<div class="col-md-3">
                    <div class="form-group">
                        <select id="user" class="combobox form-control" style="display: none;" onchange="setUser(value);">
                            <option value="">Select User</option>
                            {% for user in users %}
                            <option value="{{user}}">{{user.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
				</div>

				<div class="col-xs-2">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="act-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Activity
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="act-dropdown">
							{% for a in activities %}
							<li><a href='javascript: setActivityType("{{a}}")'>{{a}}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>

				<div class="col-sm-1">
					<input class="btn btn-primary" type="submit" value="Find" onclick="findMatchingUser()">
				</div>

                <div class="col-sm-1">
                    <input class="btn btn-primary" type="submit" value="Clear" onclick="clearSearch()">
                </div>

            </div>
			<div class="row">
				<br>
                    <div class="col-md-10">
                        <div class="folium-map" id="map" style="width: 960px; height: 500px"></div>
                    </div>

                    <div class="col-md-2">
                        <div id="userData">
                            <table class="table table-hover ">
                                <tr><th colspan="2">User Statistics</th></tr>
                                <tr><td>Name</td><td id="user_name"></td><td></td></tr>
                                <tr><td>Walking Average</td><td id="user_walking_avg">N/A</td></tr>
                                <tr><td>Walking Total</td><td id="user_walking_sum">N/A</td></tr>
                                <tr><td>Running Average</td><td id="user_running_avg">N/A</td></tr>
                                <tr><td>Running Total</td><td id="user_running_sum">N/A</td></tr>
                                <tr><td>Cycling Average</td><td id="user_cycling_avg">N/A</td></tr>
                                <tr><td>Cycling Total</td><td id="user_cycling_sum">N/A</td></tr>
                            </table>
                        </div>
                    </div>

                </div>

			<hr>

			<div id="footer">
				<div class="container">
					<p class="credit">Powered by <a href="#">ReAct</a>.</p>
				</div>
			</div>

		</div> <!-- /container -->
		<!-- script references -->

		<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="//rawgithub.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/bootstrap-combobox.js"></script>

		<script>

			var map;
			var currentUser;
			var currentActivityType;
			var allUsers = {};
			var matchingUsers = {};
			var markers = {};
			var isMatchingUserOnlyMode = false;
			var markerClusters;

			var createMarker = function(user) {
			    if(!(user.user_id in markers)) {
                    var marker = L.marker([user.lat, user.lon], { title: user.user_id });
                    //marker.bindPopup('<p class="text-primary">' + user.name + '</p>'); 
                    marker.bindPopup('<p class="text-primary">' + user.name + '<br />' + user.zip + '<br />' + user.user_id +'</p>')
                    marker.on('click', function(e) {
                        var _user = user;
                        $('#user_name').text(_user.name);
                        onMarkerClick(_user, 'WALKING');
                        onMarkerClick(_user, 'RUNNING');
                        onMarkerClick(_user, 'CYCLING');
                    });
                    markerClusters.addLayer(marker);
                    markers[user.user_id] = marker;
                }
			}

			var onMarkerClick = function(user, activityType) {
			    $.ajax({
					url: "/userstats/" + user.user_id + "/" + user.zip + "/" + activityType
				})
				.done(function(data) {
				    if(data.userStats) {
                        $('#user_' + activityType.toLowerCase() + '_avg').text((Math.floor(parseInt(data.userStats.avg)/60)).toString() + ' min');
                        $('#user_' + activityType.toLowerCase() + '_sum').text((Math.floor(parseInt(data.userStats.sum)/60)).toString() + ' min');
				    } else {
                        $('#user_' + activityType.toLowerCase() + '_avg').text('N/A');
                        $('#user_' + activityType.toLowerCase() + '_sum').text('N/A');
				    }
				});
			}

			var clearMarkers = function() {
			    for (var marker in markers) {
                    if (markers.hasOwnProperty(marker)) {
                        markerClusters.removeLayer(markers[marker]);
                    }
                }
			    markers = {};
			}

			var clearSearch = function() {
			    if(isMatchingUserOnlyMode) {
                    isMatchingUserOnlyMode = false;
                    updateMarkers();
                    $('#user').data('combobox').toggle();
                    $('#act-dropdown').html('Activity<span class="caret"></span>');
                }
			}

			var clearUsers = function() {
			    users = {};
			}

			var clearMatchingUsers = function() {
			    matchingUsers = {};
			}

			var initMap = function() {
				map = L.map('map').setView([37.189396,-121.705327], 12);
				L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
					maxZoom: 18,
				}).addTo(map);
				markerClusters = L.markerClusterGroup();
				map.addLayer(markerClusters);
				$.ajax({
					url: "/users"
				})
				.done(function(data) {
                    clearMarkers();
                    clearUsers();
                    var response = data;
                    for(var i = 0; i < response.users.length; i++) {
                        var user = response.users[i];
                        allUsers[user.user_id] = user;
                    }
                    updateMarkers();
                });

                map.on('move', function(e) {
                    updateMarkers();
                });
			};

			var setUser = function(userJson) {
			    if(userJson === "")
			        return;
				userJson = fixJson(userJson);
				currentUser = JSON.parse(userJson);
				createMarker(currentUser);
				map.setView([currentUser.lat, currentUser.lon], 12);
			};

			var setActivityType = function(activityType) {
			    if(activityType === "")
			        return;
				currentActivityType = activityType
			};

			var updateMarkers = function() {
			    var latLngBounds = map.getBounds();
			    var selectedUsers = isMatchingUserOnlyMode ? matchingUsers : allUsers;
			    clearMarkers();
			    var count = 0;
			    for (var user_id in selectedUsers) {
			    	if (count >= 500)
			    	{
			    		break;
			    	}
                    if (selectedUsers.hasOwnProperty(user_id)) {
                        var user = selectedUsers[user_id];
                        if(latLngBounds.contains(L.latLng(user.lat, user.lon))) {
                            createMarker(user);
                            count ++;
                        }
                    }
                }
			}

			var fixJson = function(json) {
				var result = json.replace(/u'/g,"'");
				return result.replace(/'/g,"\"");
			}

			var findMatchingUser = function() {
				$.ajax({
					url: "/users/" + currentUser.zip + "/" + currentActivityType
				})
				.done(function(data) {
					clearMarkers();
					clearMatchingUsers();
					var response = data;
					for(var i = 0; i < response.usersStats.length; i++) {
						user = response.usersStats[i];
						matchingUsers[user.user_id] = allUsers[user.user_id];
						if(user.user_id === currentUser.user_id) {
						    createMarker(allUsers[currentUser.user_id]);
							continue;
						}
						createMarker(allUsers[user.user_id]);
					}
					isMatchingUserOnlyMode = true;
					map.setView([currentUser.lat, currentUser.lon], 12);
				});
			};

			initMap();

			$(".dropdown-menu li a").click(function(){
				var selText = $(this).text();
				$(this).parents('.dropdown').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
			});

			$(document).ready(function(){
                $('.combobox').combobox();
            });
		</script>

	</body>
	</html>