<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
    <meta name="robots" content="nofollow" />

	<title>ReAct</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
	
	<style>
	html {
		height: 100%;
			}
	body {
		background: #f3f3f3;
		background:url(../static/img/bg.jpg) no-repeat;
		background-size:cover;
		background-attachment:fixed;
		padding: 0;
		text-align: center;
		font-family: 'Roboto';
		position: relative;
		margin: 0;
		height: 100%;
		}
	.page_container {
	/* max-width: 960px;*/ width:100%;
	margin: 0 auto;
	}
	.wrapper {
	height: auto !important;
	height: 100%;
	margin: 10px auto 0;
	overflow: hidden;
	}



	</style>
	</head>

<body >
<div class="wrapper" ><img src="../static/img/logo.png" alt="ReAct" title="ReAct" style=" float:left; padding-left:20px">

    <div class="main">
    <div class="page_container">
          
    	<div>
    	</br> 
    	</br>
    	</br> 
    	</br> 

    	<iframe width="840" height="630" src="https://www.youtube.com/embed/pVBawN9oTXA" frameborder="0" allowfullscreen></iframe>

    	</br> 
    	</br> 
    	</div>
    	
    	


  </div>  
  </div>

  </div>
  </script> 
   	</div>
<!--<script>

  	var _gaq=[['_setAccount','UA-11278966-1'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
  	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  	s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>-->
</body>
</html>